@using Webdiyer.WebControls.Mvc;
@using DeploymentDAO;
@model Ucsmy.Framework.PagerResponse<D_Project>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>项目管理</title>
    @Html.Partial("~/Views/Shared/CommonResourcePartialView.cshtml")

    <script type="text/javascript">
        $(function () {
            InitSearch();
            InitListOrderBy();
        });
    </script>
</head>
<body>

    <!--搜索-->
    <div class="search">
        <!--搜索-->
        <table>
            <tr>
                
                <td class="std">项目名称</td>
                <td class="ttd">
                    <input search="ProjectName" type="text" style="width: 195px;" class="searchInput" rtip="资产名称" />
                </td>
                <td class="std">项目编码</td>
                <td class="ttd">
                    <input search="ProjectCode" type="text" style="width: 195px;" class="searchInput" rtip="项目编码" />
                </td>
            
                <td class="std">创建时间</td>
                <td class="ttd">
                    <input search="MinCreateTime" type="text" class="Wdate" onclick="WdatePicker()" style="width: 88px" />
                    至
                    <input search="MaxCreateTime" type="text" class="Wdate" onclick="WdatePicker()" style="width: 88px" />
                </td>
                <td>
                    <span>
                        <input type="hidden" id="IsDoQuery" search="IsDoQuery" />
                        <input type="button" id="btnSearch" class="searchBtn" value="查询" onclick="DoSearch(1)" />
                        <input type="button" class="ButtonCss" value="添加项目" onclick="ShowWin('/Project/Create', 360, 240,'添加')" />
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <!--搜索结束-->

    <!--表格-->
    <div class="content">
        <table border="0" cellpadding="0" cellspacing="0" class="tableBD">
            <tbody>
                <tr class="btTR" style="text-align: center">
                    <th class="nowrap">项目编号
                    </th>
                    <th class="nowrap">项目名称
                    </th>
                    <th class="nowrap">备注
                    </th>
                    <th class="nowrap">创建时间
                    </th>
                    <th class="nowrap">创建人
                    </th>
                    <th align="center">操作</th>
                </tr>
            </tbody>
            @foreach (var item in Model.ResultList)
            {
                <tr>
                    <td>
                        @item.ProjectCode
                    </td>
                    <td>
                        @item.ProjectName
                    </td>

                    <td>
                        @item.Remark
                    </td>
                    <td style="text-align: center;">
                        @item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td>
                        @item.CreateUser
                    </td>
                    <td>
                        <a class="aico" href="javascript:ShowWin('/Project/Edit?ProjectId=@item.ProjectID', 360, 240,'编辑')"><span>编辑</span></a>
                          &nbsp;&nbsp;
                          <a class="aico" href="javascript:ShowWin('/ProjectCodeServer?ProjectId=@item.ProjectID', 860, 540,'代码服务管理')"><span>代码服务管理</span></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <!--表格结束-->
    <!--分页-->
    @{
        var pagerModel = new Deployment.Web.Models.PageModel()
        {
            TotalCount = Model.TotalCount,
            PageSize = "pagesize".ValueOfQuery().TryInt(10).Value,
            PageIndex = "pageindex".ValueOfQuery().TryInt(1).Value
        };
    }
    @Html.Partial("/Views/Shared/PagerPartialView.cshtml", pagerModel)
</body>
</html>
